*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-margin-top:120px ;
}

/* ####################################################### */
/* Variables */
:root{
    --primary-color:rgb(45, 53, 58);
    --secondary-color:rgb(127, 220, 236);
    --tertiary-color:rgb(231, 231, 231);
}

/* ####################################################### */
/* General Styling */
body{
    font-family: Arial, Helvetica, sans-serif;   
}

.section-title{
    font-size: 35px;
    color: var(--primary-color);
    text-align: right;
    padding-right: 1vw;
}

.border-right{
    border-right: 3px solid ;
    width: 20vw;
}

.border-bottom{
    border-bottom: 3px solid;
}

.border-color-primary{
    border-color: var(--primary-color);
}

.border-color-secondary{
    border-color: var(--secondary-color);
}

.flex-title{
    flex: 2;
    min-width: 140px;
}

.flex-section{
    flex: 10;
}

.flex-row{
    display: flex;
    flex: 1;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}

/* ####################################################### */
/* Header Stlying */
header{
    align-items: center;
    top:0;
    padding: 15px 0;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--primary-color);
    position: sticky;
    position: -webkit-sticky;
    z-index: 9999;
    border-bottom: 3px solid var(--secondary-color);
}

header h1{
    padding: 5px 10px 5px 100px;
    display: flex;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

header h1 a{
    color: var(--primary-color);
    font-weight: bold;
    font-size:40px;
    margin: auto;
    text-align: center;
    line-height: 100%;
    text-decoration: none;
}

header ul a {
    text-align:center;
    line-height: 100%;
    text-decoration: none;
    font-size: 30px;
    color: var(--secondary-color);
    border-bottom: solid 3px var(--secondary-color);
}

header ul a:hover{
    font-weight: bold;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

header ul li{
    display: flex;
    margin: 0 20px 0 20px;
    align-items: center;
}

header nav{
    margin: 7px 0;
    display: flex;
    align-items: center;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    font-weight: lighter;
    font-size: 1.55vw;
}

/* Hero Styling */
.hero{
    align-items: flex-start;
    background-image: url("../images/hero-background.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    background-attachment: fixed;
    background-position: 80%;
    border: 3px solid var(--secondary-color);
    border-top: 0px;
    background-color: rgba(122, 132, 138, 0.87);
    background-blend-mode: multiply;
}

.hero > div{
    display: flex;
    align-items:flex-end;
    justify-content: right;
    flex:none;
    height: 20vh;
}

.hero-subtitle{
    padding: 10px 15px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-top: 25px;
    background-color: var(--secondary-color);
}

/* About Me Styling */
.info{
    margin: 25px 0;
    display: flex;
}

.info > div >div{
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.info >div> div > img{
    height: 225px;
    width: 300px;
    margin: 10px;
    border: 3px solid var(--secondary-color);
}

.info p{
    padding: 50px;
    width: 100%;
    color: var(--primary-color);
}

/* ####################################################### */
/* My Work Styling */
.my-works{
    margin: 25px 0;
    display: flex;
    justify-content: space-around;
}

.works{
    flex-wrap: wrap;
    width: 100%;
}

.work{
    flex: 1;
    margin: 5px 10px;

}

.work > a {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   text-decoration: none;
}

.work{
    background-color: rgba(122, 132, 138, 0.87);
    background-blend-mode: multiply;
    display: flex;
    height: 15vh;
    border: 3px solid var(--secondary-color);
    min-width: 175px;
    min-height: 125px;
}

.work:hover{
    background-color:rgba(122, 132, 138, 0); ;
}

.work-info{
    flex: none;
    position: relative;
    bottom: 0;
    height: 100;
    width: 150;
    padding: 10px 15px;
    background-color: var(--secondary-color);
    margin-bottom: 25px;
    margin-right: 25px;
    margin-top: 25px;
}
.position{
    display: flex;
    align-items:flex-end ;
    flex:none;
    height: 15vh;
}

.work1 > a> div{
height: 30vh;
}

.work-title{
    font-size: 16px;
    font-weight: bold;
    color: var(--primary-color)
}

.work-subtitle{
    font-size: 12px;
    color: var(--primary-color);
}


/* ####################################################### */
/* Work Background Images */
.work1{
    margin-top: 0;
    background-image: url("../images/run-buddy.PNG");
    background-size: 110%;
}

.work2{
    background-image: url("../images/work-1.jpg");
    background-size: cover;
    background-position: center;
}

.work3{
    background-image: url("../images/work-2.png");
    background-size: cover;
    background-position: center;
}

.work4{
    background-image: url("../images/work-3.jpg");
    background-size: cover;
    background-position: center;
}

.work5{
    background-image: url("../images/work-4.jpg");
    background-size: cover;
    background-position: center;
}

/* ####################################################### */
/* Contact Me Styling */
.contact-info{
    margin: 25px 0;
    display: flex;
    justify-content: space-around;
}

.contact-info{
    width: 100%;
    margin: 7px 0;
    align-items: center;
    justify-content: space-around;
}

.contact-info ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.contact-info ul a {
    font-size: 16px;
    text-align:center;
    border-bottom: solid 3px var(--secondary-color);
    line-height: 100%;
    text-decoration: none;
    color: var(--primary-color);
    font-style: normal;
    padding: 5px;
}

.contact-info ul a:hover{
    font-weight: bold;
}

.contact-info ul li{
    display: flex;
    margin: 0 20px 0 20px;
}

#contact-me >div >h2{
    padding-bottom: 50px;
}



/* ####################################################### */
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    /* this will be applied on any screen smaller than 980px */
    header {
        position: relative;
        padding-bottom: 0;
        justify-content: center;
      }

    header h1 {
        width: 100%;
        text-align: center;
        padding:0;
     }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
      }

    header nav ul li a {
        font-size: 20px;
      }
    

    
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    /* this will be applied on any screen between 768px and 575px */
    .info, .my-works,.contact{
        flex-direction: column;
        justify-content: center;
        align-content: space-around;

    }

    .flex-row{
        justify-content: center;
        align-content: center;
    }

    .flex-title{
        flex:10;
    }

    .border-right{
        width: 100%;
        border-right: 0;
        border-bottom: 0 solid var(--primary-color);
    }

    #contact-me >div >h2{
        padding-bottom: 0px;
    }
  

    .section-title{
        padding: 10px 10px;
        margin: 15px auto;
        text-align: center;
        border-bottom: 3px solid var(--primary-color);
    }

    .work1 > a> div{
        height: 20vh;
        margin-top: 25px;
    }

    .info p{
        padding: 15px 50px;
        width: 100%;
    }

    #contact-me >address {
        margin-bottom: 25px;
    }

    #contact-me > address > ul{
        justify-content: center;
    }

  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    /* this will be applied on any screen smaller than 575px */
    .hero > div{
        width: 100%;
    }

    .hero-subtitle{
          width: 100%;
          text-align: center;
    }
    
    .hero-subtitle{
        margin-left: 0;
    }

    .work {
        min-width: 250px;
    }
  }
