*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Variables */
:root{
    --primary-color:rgb(45, 53, 58);
    --secondary-color:rgb(82, 199, 219);
    --tertiary-color:rgb(231, 231, 231);
}
/* General Styling */
body{
    font-family: Arial, Helvetica, sans-serif;   
}

.section-title{
    font-size: 40px;
    color: var(--primary-color);
    text-align: right;
    padding-left: 10vw;
    padding-right: 1vw;
}

.border-right{
    border-right: 3px solid ;
    width: 20vw;
}

.border-bottom{
    border-bottom: 3px solid;
}

.border-color-primary{
    border-color: var(--primary-color);
}

.border-color-secondary{
    border-color: var(--secondary-color);
}

.flex-title{
    flex: 3;
}

.flex-section{
    flex: 10;
}

.flex-row{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}
/* Header Stlying */
header{
    align-items: center;
    padding: 30px 0;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--primary-color);
    position: -webkit-sticky;
    position: sticky;
    z-index: 9999;
}

header h1{
    padding: 25px 10px 25px 100px;
    display: flex;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

header h1 a{
    font-weight: bold;
    font-size:40px;
    margin: auto;
    text-align: center;
    line-height: 100%;
    text-decoration: none;
}

header ul a {
    text-align:center;
    line-height: 100%;
    text-decoration: none;
    color: var(--secondary-color);
    border-bottom: solid 3px var(--secondary-color);
}

header ul li{
    display: flex;
    margin: 0 20px 0 20px;
    align-items: center;
}

header nav{
    margin: 7px 0;
    display: flex;
    align-items: center;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    font-weight: lighter;
    font-size: 1.55vw;
}

/* Hero Styling */
.hero{}

.hero-subtitle{}

/* About Me Styling */
.info{
    margin: 25px 0;
    display: flex;
}

.info h2{;

}

.info p{
    padding: 50px;
    width: 100%;
}

/* My Work Styling */
.my-works{
    margin: 25px 0;
    display: flex;
    justify-content: space-around;
}

.works{
    width: 100%;
}

.work{
    flex: 1;
    background-color: aqua;
    margin: 20px;

}

.work div{}

.work-info{
    height: 200px;
    width: 300px;
}

.work-title{
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-color)
}

.work-subtitle{
    font-size: 16px;
    background-color: var(--primary-color)
}

.work1{}

.work2{}

.work3{}

.work4{}

.work5{}

/* Contact Me Styling */
.contact-info{
    margin: 25px 0;
    display: flex;
    justify-content: space-around;
    height: 25vh;
}

.contact-info address{
    margin: 7px 0;
    display: flex;
    align-items: center;
}

.contact-info ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.contact-info ul a {
    text-align:center;
    line-height: 100%;
    text-decoration: none;
    color: var(--primary-color);
}

.contact-info ul li{
    display: flex;
    margin: 0 20px 0 20px;
    align-items: center;
}


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    /* this will be applied on any screen smaller than 980px */

  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    /* this will be applied on any screen between 768px and 575px */

  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    /* this will be applied on any screen smaller than 575px */
  }